.bundle
db/*.sqlite3
log/*.log
*.log
/tmp/
doc/
*.swp
*~
.project
.DS_Store
Gemfile*
/public/fasta/
/public/image/tmp/
/config/
/1h-auto/
/24h-auto/
/1h-hetero/
/24h-hetero/
*.orig
/lib/tasks/load.rake
