<div id="na_seq_map" >
<table>
  <tr>
    <td  style="background-color:white;font-family:monospace;" colspan="5" >
      <%=@result[:sequence].na_to_html(@result[:frame]).html_safe %>
    </td>
  </tr>
</table>
</div>