<h1 xmlns="http://www.w3.org/1999/html">This page is currently under construction</h1>
<b>Purpose</b>
<p>
  To investigate how corals resist stress through development of a powerful sea
  anemone model system and related experiments with corals, sea anemones and
  the symbiotic algae that reside in them. The funding will be used to enhance
  researchers' abilities to predict coral resilience by identifying early,
  reliable signals that result from changing environmental conditions.
  </p>
<div align="center">
  <iframe width="560" height="315" src="http://www.youtube.com/embed/uyUcExY1jRw?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<b><a href="http://pringlelab.stanford.edu/" >Pringle Lab</a></b>
<p><a href="/data#tabs-3" >Data</a></p>
<p>
With support from the Gordon and Betty Moore Foundation and the National Science
Foundation, Dr. John Pringle and his team at Stanford have been working to
understand how corals resist stress. To develop hypotheses about coral stress,
Dr. Pringle’s group is first studying sea anemones, which are evolutionary cousins
of corals. By developing a sea anemone experimental model system, his team is
attempting to identify early, reliable signals of stress that result from changing
environmental conditions. These results will then be tested with corals at a field
site in American Samoa to see how well the scientists can predict coral resilience
in a natural environment.
</p>

<b><a href="http://dpb.carnegiescience.edu/labs/grossman-lab">Grossman Lab</a> </b>
<p><a href="/data#tabs-1" >Data</a></p>
<p>
  Developing an understanding of factors that are causing degradation of the coral reefs
  and the interaction between the cnidarian (animal partner) and the alga (dinoflagellate
  called Symbiodinium; photosynthetic partner) in the formation of the endosymbiotic
  association required for coral survival. Elevated temperatures and changing pH of marine
  ecosystems are beginning to adversely affect the coral reefs. We are trying to establish,
  at the molecular level, how and why this is happening.
</p>

<b><a href="http://palumbi.stanford.edu/data/">Palumbi Lab</a> </b>
  <p><a href="/data#tabs-2" >Data</a></p>
<p>
Now contains a data-repository page (http://palumbi.stanford.edu/data/
) that hosts the assemblies and annotation files for each of the coral species analyzed in the
field studies at Ofu Island, American Samoa. These data are described in the Ladner et al.
and Barshis et al. manuscripts  and are being simultaneously made
available to the National Park Service office responsible for the Ofu research center. In
addition, the full environmental dataset is being readied for deposit on this site as a set of
Excel and flat files.
</p>



<h2>References</h2>
<p>
Ladner JT, Barshis DJ, Palumbi SR. Protein evolution in two co-occurring types of
Symbiodinium: an exploration into the genetic basis of thermal tolerance in Symbiodinium
clade D. BMC Evol. Biol., in press.
</p><p>
Barshis DJ, Ladner JT, Oliver TA, Seneca FO, Traylor-Knowles N, Palumbi SR. A genomic
basis for coral resilience to climate change. Revised version submitted to Proc. Natl.
Acad. Sci. USA.
</p><p>
Xiang T, Hambleton EA, DeNofrio JC, Pringle JR, Grossman AS. Isolation of clonal, axenic
strains of the symbiotic dinoflagellate Symbiodinium and their growth and host specificity.
In revision for J. Phycol.
</p>

<h2>Funding</h2>

Gordon and Betty Moore Foundation and the National Science Foundation