<section class="round" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
      <script>
        $(function() {
        $( "#tabs" ).tabs();
    });
    </script>
    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">Grossman Lab</a></li>
        <li><a href="#tabs-2">Palumbi Lab</a></li>
        <li><a href="#tabs-3">Pringle Lab</a></li>
      </ul>
      <div id="tabs-1">
       <b>Assemblies</b>
        <p><a href="/fasta/symb6master.fa" >symbiodinium.fasta</a></p>
       <b>Experiments</b>
        <table>
        <tr><th colspan=2 > SSB01 Hetero 1hr</th> </tr>
          <tr><td> Temperature</td><td></td></tr>
          <tr><td> Light level</td> <td></td></tr>
          <tr><td> Data Assayed</td><td></td> </tr>
          <tr><td> RNA Extraction Method</td><td></td> </tr>
          <tr><td> Library Prep Method</td> <td></td></tr>
          <tr><td> Organism</td> <td></td></tr>
          <tr><td> SRA link to reads</td><td></td> </tr>
          <tr><td> Additional Info (culture media, culture density, etc...)</td><td></td> </tr>
          <tr><th colspan=2 > SSB01 Hetero24h</th></tr>
          <tr><td> Temperature</td><td></td> </tr>
          <tr><td> Light level</td><td></td> </tr>
          <tr><td> Data Assayed</td><td></td> </tr>
          <tr><td> RNA Extraction Method</td><td></td> </tr>
          <tr><td> Library Prep Method</td><td></td> </tr>
          <tr><td> Organism</td> <td></td></tr>
          <tr><td> SRA link to reads</td> <td></td></tr>
          <tr><td> Additional Info (culture media, culture density, etc...)</td><td></td> </tr>
          <tr><th colspan=2 > SSB01 auto1h</th></tr>
          <tr><td> Temperature</td> <td></td></tr>
          <tr><td> Light level</td><td></td> </tr>
          <tr><td> Data Assayed</td> <td></td></tr>
          <tr><td> RNA Extraction Method</td> <td></td></tr>
          <tr><td> Library Prep Method</td><td></td> </tr>
          <tr><td> Organism</td> <td></td></tr>
          <tr><td> SRA link to reads</td> <td></td></tr>
          <tr><td> Additional Info (culture media, culture density, etc...)</td><td></td> </tr>
          <tr><th colspan=2 > SSB01 auto24h</th> </tr>
          <tr><td> Temperature</td><td></td> </tr>
          <tr><td> Light level</td> <td></td></tr>
          <tr><td> Data Assayed</td> <td></td></tr>
          <tr><td> RNA Extraction Method</td><td></td> </tr>
          <tr><td> Library Prep Method</td> <td></td></tr>
          <tr><td> Organism</td> <td></td></tr>
          <tr><td> SRA link to reads</td> <td></td></tr>
          <tr><td> Additional Info (culture media, culture density, etc...)</td><td></td> </tr>
        </table>



      </div>
      <div id="tabs-2">

        <b><em>Symbiodinium</em> Clade C and D transcriptomes:</b>
        <p> Transcriptomic contigs from <em>Symbiodinium</em> clades C and D isolated from <em>Acropora hyacinthus</em> colonies, Ofu Island, American Samoa.</p>
        <p> Extraction and assembly methods can be found in:</p>
        <p> Ladner JT, Barshis DJ, Palumbi SR (in press) <strong>Protein evolution in two co-occurring types of <em>Symbiodinium</em>: an exploration into the genetic  basis of thermal tolerance in <em>Symbiodinium</em> clade D</strong>. BMC Evolutionary Biology.<br />
          <br />
          <a style="color:#09C;" href="http://palumbi.stanford.edu/data/Symbiod_CladeC_and_D_contigs_annots.tar.gz">Symbiod_CladeC_and_D_contigs_annots.tar.gz</a></p>
        <p>Additional annotation information for the <em>Symbiodinium</em> assemblies<br />
          <br />
          <a style="color:#09C;"  href="http://palumbi.stanford.edu/data/50763_c_and_d_sym_totalannotated.txt.zip">50763_c_and_d_sym_totalannotated.txt.zip</a></p>
        <hr />
        <b><em>Acropora  hyacinthus</em> transcriptome assembly:</b>
        <p>                Transcriptomic  contigs for <em>Acropora hyacinthus</em> coral colonies from pool 300 (resilient)  and pool 400 (sensitive) of the south shore lagoon, Ofu Island, American Samoa,  only contigs with BLAST matches against known coral/cnidarian sequences</p>
        <p> <a style="color:#09C;" href="http://palumbi.stanford.edu/data/33496_Ahyacinthus_CoralContigs.fasta.zip">33496_Ahyacinthus_CoralContigs.fasta.zip</a></p>
        <p>                Linked  annotation information for the above coral transcriptome assembly</p>
        <p> <a style="color:#09C;" href="http://palumbi.stanford.edu/data/33496_MasterCombinedAnnotationTablewHGNC.txt.zip">33496_MasterCombinedAnnotationTablewHGNC.txt.zip</a></p>
        <p>                Extraction,  annotation, and assembly methods can be found in:</p>
        <p> Barshis  DJ, Ladner JT, Oliver TA, Seneca FO, Traylor-Knowles N and Stephen R. Palumbi  (in review) <strong>A genomic basis for coral resilience to climate change. </strong>Proceedings  of the National Academy of Sciences.</p>
        <p> <a style="color:#09C;" href="http://palumbi.stanford.edu/data/Barshis_etal_33496contigs_deduped_all_scaledounts_Nov2012.txt">Barshis_etal_33496contigs_deduped_all_scaledounts_Nov2012</a></p>
        <hr/>
        <b>Gordon and Betty Moore Foundation Grant #2629</b>
        <p>Coral resilience investigated in the field and via a sea anemone model system.  These data appear in Barshis et al (in revision), Ladner et al (in press) and are being simultaneously made available to the National Park Service where the Ofu research center is located. </p>
        <p><a style="color:#09C;" href="http://palumbi.stanford.edu/data/pH.zip">pH.zip</a>&nbsp; <a style="color:#09C;" href="http://palumbi.stanford.edu/data/Temp.zip">&nbsp; &nbsp; Temp.zip</a></p>

      </div>
      <div id="tabs-3">

        <b>Adult aposymbiotic <em>Aiptasia</em> transcriptome version 1.1</b>
            <p>We assembled the transcriptome of a clonal population of adult,  aposymbiotic (dinoflagelate-free)
              Aiptasia pallida from ~208 million  reads, yielding 58,018 contigs.&nbsp; We demonstrated that many of these  contigs represent full-length or
              near-full-length transcripts that  encode proteins similar to those from a diverse array of pathways in  other organisms, including various
              metabolic enzymes, cytoskeletal  proteins, and neuropeptide precursors.</p>
            <p><a style="color:#09C;" href="http://pringlelab.stanford.edu/project files/AposymbioticAiptasiaTranscriptomeGoodLoci.fa.gz"><br />AposymbioticAiptasiaTranscriptomeGoodLoci.fa.gz</a></p>
        <hr />
            <b>Adult aposymbiotic <em>Aiptasia</em> transcriptome version 1.1 annotations</b>
            <p>The contigs were annotated by sequence similarity, assigned GO terms, and scanned for conserved protein domains.&nbsp; <br />
              You can download a tab-delimited annotations file here:<br />
              <p><a style="color:#09C;" href="http://pringlelab.stanford.edu//project files/AnnotationTableNewLoci.txt.gz" >AnnotationTableNewLoci.txt.gz</a></p>
        <hr />
            <b>Adult aposymbiotic <em>Aiptasia</em> transcriptome FOR MAPPING version 1.1 </b>
            <p>Many alternatively spliced transcript were present in out  transcriptome.&nbsp; For the purposes of RNA-Seq experiments, transcripts
              with highly redundant sequence should be removed.&nbsp; Below is a fasta file  of containing the longest transcript from each cluster.</p>
              <p><a style="color:#09C;" href="http://pringlelab.stanford.edu/project files/AposymbioticAiptasiaTranscriptomeGoodLociForMapping.fa.gz">AposymbioticAiptasiaTranscriptomeGoodLociForMapping.fa.gz</a></br>
              <a style="color:#09C;" href="http://pringlelab.stanford.edu/project files/AnnotationTableNewLoci.txt.gz" >AnnotationTableNewLoci.txt.gz</a></p>

        <hr />
            <b>Transcriptome of Symbiotic CC7 Aiptasia (with some algal sequences as well):</b>
              <p> Any transcripts having 99% identity over an alignment that covers at least 20% of both transcripts were clustered and a single
                representative transcript retained in this GZ file:</p>
                <p><a style="color:#09C;" href="http://pringlelab.stanford.edu/project files/SymTranscriptsClustered_id_99_frac_20_seeds_rereunRev (2).fa.gz" >SymTranscriptsClustered_id_99_frac_20_seeds_rereunRev (2).fa.gz</a>.</p>

        <p>Each representative transcript has been classified based on most probable species of origin based on TopSort (a machine-learning algorithm)
                and genomic read alignment:
          <p><a style="color:#09C;" href="http://pringlelab.stanford.edu/project files/contigClassification.txt" >contigClassification.txt</a></p></p>


      </div>
    </div>
  </section>

