<section class="round" xmlns="http://www.w3.org/1999/html">
      <script>
        $(function() {
        $( "#tabs" ).tabs();
    });
    </script>
    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">Grossman Lab</a></li>
        <li><a href="#tabs-2">Palumbi Lab</a></li>
        <li><a href="#tabs-3">Pringle Lab</a></li>
      </ul>
      <div id="tabs-1">
       <b>Assemblies</b>
        <p><a href="/fasta/symb6master.fa" >symbiodinium.fasta</a></p>
       <b>Experiments</b>
        <table>
        <tr><th colspan=2 > SSB01 Hetero 1hr</th> </tr>
          <tr><td> Temperature</td><td></td></tr>
          <tr><td> Light level</td> <td></td></tr>
          <tr><td> Data Assayed</td><td></td> </tr>
          <tr><td> RNA Extraction Method</td><td></td> </tr>
          <tr><td> Library Prep Method</td> <td></td></tr>
          <tr><td> Organism</td> <td></td></tr>
          <tr><td> SRA link to reads</td><td></td> </tr>
          <tr><td> Additional Info (culture media, culture density, etc...)</td><td></td> </tr>
          <tr><th colspan=2 > SSB01 Hetero24h</th></tr>
          <tr><td> Temperature</td><td></td> </tr>
          <tr><td> Light level</td><td></td> </tr>
          <tr><td> Data Assayed</td><td></td> </tr>
          <tr><td> RNA Extraction Method</td><td></td> </tr>
          <tr><td> Library Prep Method</td><td></td> </tr>
          <tr><td> Organism</td> <td></td></tr>
          <tr><td> SRA link to reads</td> <td></td></tr>
          <tr><td> Additional Info (culture media, culture density, etc...)</td><td></td> </tr>
          <tr><th colspan=2 > SSB01 auto1h</th></tr>
          <tr><td> Temperature</td> <td></td></tr>
          <tr><td> Light level</td><td></td> </tr>
          <tr><td> Data Assayed</td> <td></td></tr>
          <tr><td> RNA Extraction Method</td> <td></td></tr>
          <tr><td> Library Prep Method</td><td></td> </tr>
          <tr><td> Organism</td> <td></td></tr>
          <tr><td> SRA link to reads</td> <td></td></tr>
          <tr><td> Additional Info (culture media, culture density, etc...)</td><td></td> </tr>
          <tr><th colspan=2 > SSB01 auto24h</th> </tr>
          <tr><td> Temperature</td><td></td> </tr>
          <tr><td> Light level</td> <td></td></tr>
          <tr><td> Data Assayed</td> <td></td></tr>
          <tr><td> RNA Extraction Method</td><td></td> </tr>
          <tr><td> Library Prep Method</td> <td></td></tr>
          <tr><td> Organism</td> <td></td></tr>
          <tr><td> SRA link to reads</td> <td></td></tr>
          <tr><td> Additional Info (culture media, culture density, etc...)</td><td></td> </tr>
        </table>



      </div>
      <div id="tabs-2">
        Content 2
      </div>
      <div id="tabs-3">
        Content 3
      </div>
    </div>
  </section>

