<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Photo Gallery", photo_path %></li>
      <li><%= link_to "Contact", root_path %></li>
    </ul>
  </nav>
</footer>
